In [32]:
import pandas as pd
#v = pd.show_versions()

In [9]:
import numpy as np
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [10]:
labels

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:

import pandas as pd

print(df.loc[row,col])

In [11]:
import pandas as pd
import numpy as np

In [15]:
#Series одномерный
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([1, 2, 3, 4, 5], ['a', 'b', 'c', 'd', 'e'])
s2
# ndarr = np.array([1, 2, 3, 4, 5])
# s3 = pd.Series(ndarr, ['a', 'b', 'c', 'd', 'e'])

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [16]:
d = {'price':pd.Series([1, 2, 3], index=['v1', 'v2', 'v3']),'count':pd.Series([10, 12, 7], index=['v1', 'v2', 'v3'])}
df1 = pd.DataFrame(d)
print(df1)

    price  count
v1      1     10
v2      2     12
v3      3      7

In [33]:
print(df1.index,df1.columns)

Index(['v1', 'v2', 'v3'], dtype='object') Index(['price', 'count'], dtype='object')

In [ ]:
#DataFrame двумерный

In [28]:
nda1 = np.array([[1, 2, 3], [10, 20, 30]]) # Создание DataFrame из двумерного массива
df4 = pd.DataFrame(nda1)
print(df4)

    0   1   2
0   1   2   3
1  10  20  30

In [ ]:
#Создание DataFrame из списка словарей

d3 = [{'price': 3, 'count':8}, {'price': 4, 'count': 11}]
df3 = pd.DataFrame(d3)
print(df3)

In [54]:
#из элементов np.array
d = {'price':np.array([1, 2, 3]), 'count': np.array([10, 20, 30])}
df = pd.DataFrame(d, index=['a', 'b', 'c'])
print(df)

   price  count
a      1     10
b      2     20
c      3     30

In [55]:
#из элементов Series
d = {'price':pd.Series([1, 2, 3], index=['v1', 'v2', 'v3']),'count':
pd.Series([10, 12, 7], index=['v1', 'v2', 'v3'])}
df1 = pd.DataFrame(d)
print(df1)

    price  count
v1      1     10
v2      2     12
v3      3      7

In [ ]:
#из двумерного массива
nda1 = np.array([[1, 2, 3], [10, 20, 30]])
df4 = pd.DataFrame(nda1)
print(df4)

In [21]:
df['count']   #Выбор столбца

a    10
b    20
c    30
Name: count, dtype: int64

In [22]:
 df.loc['a'] #Выбор строки по метке

price     1
count    10
Name: a, dtype: int64

In [25]:
 df.iloc[0]   #Выбор строки по индексу

price     1
count    10
Name: a, dtype: int64

In [24]:
 df[0:2]    #Срез по строкам

   price  count
a      1     10
b      2     20

In [26]:
 df[df['count'] >= 20]    #Выбор строк, отвечающих условию

   price  count
b      2     20
c      3     30

In [40]:
df = pd.DataFrame({'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],'name': ['Murzik', 'Pushok', 'Kaa', 'Bobik', 'Strelka', 'Vaska', 'Kaa2', 'Murka', 'Graf', 'Muhtar'],'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']})
index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

print(df[['name','age']])

      name  age
0   Murzik  2.5
1   Pushok  3.0
2      Kaa  0.5
3    Bobik  NaN
4  Strelka  5.0
5    Vaska  2.0
6     Kaa2  4.5
7    Murka  NaN
8     Graf  7.0
9   Muhtar  3.0

In [41]:

print(df[['name','age']].iloc[[0,2,3]])

     name  age
0  Murzik  2.5
2     Kaa  0.5
3   Bobik  NaN

In [45]:
print(df[df['age'] > 3])

  animal  age     name  visits priority
4    dog  5.0  Strelka       2       no
6  snake  4.5     Kaa2       1       no
8    dog  7.0     Graf       2       no

In [49]:
df = pd.DataFrame({'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],'name': ['Murzik', 'Pushok', 'Kaa', 'Bobik', 'Strelka', 'Vaska', 'Kaa2', 'Murka', 'Graf', 'Muhtar'],'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']})
index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']


print(df[df['age'] == np.nan])

Empty DataFrame
Columns: [animal, age, name, visits, priority]
Index: []

In [53]:
df[df['age'].isna()]

  animal  age   name  visits priority
3    dog  NaN  Bobik       3      yes
7    cat  NaN  Murka       1      yes

In [66]:
s = pd.Series([10, 20, 30, 40, 50], ['a', 'b', 'c', 'd', 'e'])
s

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [70]:
d = {'price':[1, 2, 3], 'count': [10, 20, 30], 'percent': [24, 51,
71]}
#df = pd.DataFrame(d, index=['a', 'b', 'c'])
df

   price  count  percent
a      1     10       24
b      2     20       51
c      3     30       71

In [ ]:
#доступ к данным

In [69]:
#Series
s[lambda x: x>= 30]

c    30
d    40
e    50
dtype: int64

In [ ]:
#Series
s[s > 30]

In [71]:
#DataFrame
df['count']

a    10
b    20
c    30
Name: count, dtype: int64

In [73]:
df[['count','price']]

   count  price
a     10      1
b     20      2
c     30      3

In [74]:
df['a':'b']

   price  count  percent
a      1     10       24
b      2     20       51

In [75]:
df[lambda x: x['count'] > 15]

   price  count  percent
b      2     20       51
c      3     30       71

In [76]:
df[df['price'] >= 2]

   price  count  percent
b      2     20       51
c      3     30       71

In [77]:
s = pd.Series([10, 20, 30, 40, 50], ['a', 'b', 'c', 'd', 'e'])
s.a

10

In [78]:
df.price

a    1
b    2
c    3
Name: price, dtype: int64

In [79]:
s.sample()

b    20
dtype: int64

In [80]:
s.sample(n=3)

a    10
b    20
c    30
dtype: int64

In [82]:
df.sample(n=2)

   price  count  percent
c      3     30       71
b      2     20       51

In [84]:
df.sample(n=2,axis=1)

   count  percent
a     10       24
b     20       51
c     30       71

In [85]:
s[(s>=30) & (s<50)]

c    30
d    40
dtype: int64

In [87]:
df[df['price'] > 1]

   price  count  percent
b      2     20       51
c      3     30       71

In [ ]:
s = pd.Series([10, 20, 30, 40, 50, 10, 10], ['a', 'b', 'c', 'd', 'e',
'f', 'g'])

In [88]:
s.isin([10,20])

a     True
b     True
c    False
d    False
e    False
dtype: bool

In [ ]:
df = pd.DataFrame({'price':[1, 2, 3, 5, 6], 'count': [10, 20, 30, 40,
50], 'percent': [24, 51, 71, 25, 42]})

In [89]:
df.isin([1, 3, 25, 30, 10])

   price  count  percent
a   True   True    False
b  False  False    False
c   True   True    False

In [ ]:
# 11
print(df[(df[filter_names[0]] == filter_values[0]) & (df[filter_names[1]] < filter_values[1])])

In [ ]:
# 12
print(df[(df['age'] >= age_between[0]) & (df['age'] <= age_between[1])])
print(df[df.age.between(*age_between)])

In [ ]:
#13
df.at[index, 'age'] += 1
print(df)

In [ ]:
#13.2
df.age +=1
print(df)

In [ ]:
#14.2
el = df.select_dtypes(include=['float64','int64']).columns.values
bl =  df.select_dtypes(include=['float64','int64']).sum()
for e in el: 
    print(f'{e}:{df[e].sum()}') 
  
#res = zip(el,bl)
#print([f'{el}:,{bl}' for el, bl in res])

In [ ]:
#15
print(df.groupby(group_by).age.mean())

In [ ]:
#16
df.loc[new_index] = new_data
#print(df)
df = df.drop([del_index])
print(df)

In [ ]:
#17
#print(df.groupby(group_by)[group_by].value_counts())
print(df[group_by].value_counts())

In [ ]:
#18
df=df.sort_values(by=[sort_by[0],sort_by[1]],ascending=[False,True])
print(df)

In [ ]:
#19
df.loc[(df[column] == 'yes') | (df[column] == 1), column] = 'True'
df.loc[(df[column] == 'no') | (df[column] == 0), column] = 'False'
print(df)

In [ ]:
#20

df.loc[(df[column] == old_value), column] = new_value
print(df)

In [ ]:
#6.9 Группировка таблиц Pandas DataFrame

In [38]:
import pandas as pd

df = pd.read_csv('/Users/marina/Downloads/torg.csv',sep=';')
df

,IE_XML_ID,IE_NAME,IP_PROP30,IP_PROP31,IP_PROP32,CP_QUANTITY,CR_PRICE_1_USD
0,179,Штаны Полосатый Рейс,purple,NaN,L,99,29.06
1,181,Штаны Полосатый Рейс,purple,NaN,XL,100,29.06
2,182,Штаны Полосатый Рейс,purple,NaN,XS,100,29.06
3,183,Штаны Полосатый Рейс,purple,NaN,M,100,29.06
4,184,Штаны Полосатый Рейс,purple,NaN,S,100,29.06
...,...,...,...,...,...,...,...
270,639,Ремень Грубая Кожа,brown,NaN,L,100,10.39
271,641,Ремень Грубая Кожа,brown,NaN,XL,100,10.39
272,642,Ремень Грубая Кожа,brown,NaN,XS,100,10.39
273,643,Ремень Грубая Кожа,brown,NaN,M,100,10.39
274,644,Ремень Грубая Кожа,brown,NaN,S,100,10.39

In [40]:
print(df[['IP_PROP30','CP_QUANTITY']].groupby(['IP_PROP30']).sum().sort_values(by="CP_QUANTITY", ascending=False))

           CP_QUANTITY
IP_PROP30
black             5000
white             4999
brown             3500
red               2497
purple            2199
pink              2000
blue              1800
green             1499
see               1000
azure              500
flowers            500
jeans              500
redblue            499
orangered          498

In [51]:
print(df[['IP_PROP32','CP_QUANTITY']].groupby(['IP_PROP32']).sum().sort_values(by="CP_QUANTITY", ascending=True))

           CP_QUANTITY
IP_PROP32
M                 4198
S                 4198
XS                4299
L                 4397
XL                4399

In [53]:
df.groupby(['IP_PROP30']).count()

,IE_XML_ID,IE_NAME,IP_PROP31,IP_PROP32,CP_QUANTITY,CR_PRICE_1_USD
IP_PROP30,,,,,,
azure,5,5,0,5,5,5
black,50,50,5,45,50,50
blue,20,20,5,15,20,20
brown,35,35,10,25,35,35
flowers,5,5,5,0,5,5
green,15,15,0,15,15,15
jeans,5,5,5,0,5,5
orangered,5,5,0,5,5,5
pink,20,20,5,15,20,20
purple,25,25,5,20,25,25
red,25,25,5,20,25,25
redblue,5,5,0,5,5,5
see,10,10,0,10,10,10
white,50,50,10,40,50,50

In [97]:
import pandas as pd

df = pd.read_csv('/Users/marina/Downloads/dataset_345422_8.txt', sep=";")
df

,IE_XML_ID,IE_NAME,IP_PROP30,IP_PROP31,IP_PROP32,CP_QUANTITY,CR_PRICE_1_USD
0,552,Туфли Ультра Лайн,brown,36.0,NaN,100,40.69
1,515,Туфли Полет Валькирии,blue,36.0,NaN,100,36.33
2,374,Футболка Женская Чистота,white,NaN,M,100,10.89
3,181,Штаны Полосатый Рейс,purple,NaN,XL,100,29.06
4,623,Ремень Строчка,brown,NaN,XL,100,11.62
...,...,...,...,...,...,...,...
195,589,Ремень Радуга,brown,NaN,XL,100,5.67
196,534,Туфли Ультра Лайн,white,39.0,NaN,100,40.69
197,282,Платье Красная Фея,red,NaN,L,99,58.13
198,554,Туфли Ультра Лайн,brown,38.0,NaN,100,40.69
199,417,Спортивный Костюм Огонь в Ночи,black,NaN,XL,100,36.33

In [98]:
filtered_df = df.loc[(df['IP_PROP30'] == 'pink') & (df['IP_PROP32'] == 'XL')]
filtered_df

,IE_XML_ID,IE_NAME,IP_PROP30,IP_PROP31,IP_PROP32,CP_QUANTITY,CR_PRICE_1_USD
101,442,Спортивный Костюм Розовый Вихрь,pink,NaN,XL,100,37.36
108,345,Нижнее белье Розовое Смущенье,pink,NaN,XL,100,17.43
133,575,Ремень Радуга,pink,NaN,XL,100,5.67

In [99]:

filtered_df[['IP_PROP30','IP_PROP32','CR_PRICE_1_USD','CP_QUANTITY']].groupby(['IP_PROP30','IP_PROP32','CP_QUANTITY']).sum()

                                 CR_PRICE_1_USD
IP_PROP30 IP_PROP32 CP_QUANTITY
pink      XL        100                   60.46

In [101]:
import pandas as pd
from datetime import datetime
dateparse = lambda x: datetime.strptime(x, '%d.%m.%Y %H:%M:%S')
#source_data = pd.read_csv('export.csv', sep=';', parse_dates=['IP_PROP5562'], date_parser=dateparse)
#source_data.head()